<div class="pull-right">
  <%= link_to 'Edit', edit_person_path, class: "btn btn-info" %></div>
<h1><%= @person.full_name %></h1>

</div>

  <dl class="dl-horizontal">
    <dt>Title</dt>
    <dd><%= @person.title %></dd><br>
    <dt>First name</dt>
    <dd><%= @person.first_name %></dd><br>
    <dt>Last name</dt>
    <dd><%= @person.last_name %></dd><br>
  </dl>
